<div class="jumbotron">
  <div class="container">
    <div style="text-align: center; padding: 20px;">
      <div class="row">
        <div class="col-md-4">
          <img *ngIf="game.icon" style="padding: 20px; max-width: 250px; height: auto;" src="{{game.icon}}">
          <img *ngIf="!game.icon" style="padding: 20px; max-width: 250px; height: auto;" src="../../../assets/no_photo.png">
        </div>
        <div style="padding: 20px;" class="col-md-4">
          <div class="row">
            <span style="font-size: 45px">{{game.title}}</span>
          </div>
          <div class="row">
            <span style="margin-top: 20px; font-size: 15px">Gatunek: {{game.genre}}</span>
          </div>
          <div class="row">
            <span style="margin-top:  10px; font-size: 15px">Wydawca: {{game.publisher}}</span>
          </div>
          <div class="row">
            <span style="margin-top:  10px; font-size: 15px">Platforma: {{game.platform}}</span>
          </div>
          <div class="row">
            <span style="margin-top:  10px; font-size: 15px">Premiera: {{game.launch_date}}</span>
          </div>
        </div>
        <div style="padding: 20px; font-size: 25px; text-align: center" class="col-md-4">
          <div class="row">
            Ocena graczy:
          </div>
          <div class="row">
            {{game.score}} / 100
          </div>
        </div>
        <div class="row">
          <span style="padding: 20px; font-size: 20px">{{game.description}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let review of reviews" class="jumbotron">
  <div class="container">
    <div style="font-weight: bold; font-size: 30px" class="col-md-4">
     Ocena: {{review.rate}} / 100
    </div>
    <div class="col-md-8">
      <div style=" font-weight: bold; font-size: 25px" class="row">
        {{review.title}}
      </div>
      <div style="font-size: 20px" class="row">
        {{review.content}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="!logged" class="jumbotron">
  <div class="container">
    <div style="font-weight: bold; font-size: 30px" class="row">
      Zaloguj się aby dodać recenzje.
    </div>
  </div>
</div>
<app-alert></app-alert>
<div *ngIf="logged" class="jumbotron">
  <div class="container">
    <div style="font-weight: bold; font-size: 30px" class="row">
      Dodaj własną recenzje
    </div>
    <form>
      <div style="font-weight: bold; font-size: 20px" class="col-md-4 row">
        Ocena: <input class="form-control" style=" margin: 5px; width: 60px; font-size: 15px;" type="number" [(ngModel)]="newReview.rate" [ngModelOptions]="{standalone: true}"> / 10
      </div>
      <div class="col-md-8">
        <div style="font-weight: bold; font-size: 25px" class="row">
          <input class="form-control-plaintext" placeholder="Tytuł" type="text" [(ngModel)]="newReview.title" [ngModelOptions]="{standalone: true}">
        </div>
        <div style="font-size: 20px" class="row">
          <input class="form-control-plaintext" placeholder="Treść" type="text" [(ngModel)]="newReview.content" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <button class="btn btn-info" (click)="addReview()">Dodaj Recenzje</button>
  </div>
</div>
