<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse" id="navbar">
      <div class="navbar-brand">
        <a href="#">TAS FRONT</a>
      </div>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.login" class="form-control" type="text" placeholder="Login">
        </div>
        <div class="form-group">
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.password" class="form-control" type="password" placeholder="Hasło">
        </div>
        <button class="btn btn-primary" type="submit" (click)="login()" >Zaloguj Się</button>
        <button class="btn btn-success" type="submit" (click)="register()">Zarejestruj Się</button>
      </form>
    </div>
  </div>
</nav>
