<div class="jumbotron">
  <div class="container">
    <h1>Rejestracja</h1>
    <div class="content full">
      <div class="container">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6" style="font-size: 20px; padding: 20px; text-align: left">
              <form>
                <div class="col-md-12">
                  <label>Login</label>
                  <div class="row">
                    <input type="text" [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-12">
                  <label>Hasło</label>
                  <div class="row">
                    <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="form-label">Powtórz hasło</label>
                  <div class="row">
                    <input type="password" [(ngModel)]="reapeatPassword" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-12" style="text-align: left; padding: 15px">
                  <button style="font-size: 20px; margin-left: 10px" type="submit" class="btn btn-success" (click)="onRegister()">
                    <span>zarejestruj się</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
