<div style="background: whitesmoke; padding: 10px" class="jumbotron">
  <div class="row" style="padding: 10px; font-size: 24px;">
    <div style="padding: 10px">#{{position}}</div>
      <a>
        <div><img style="max-width: 60px; height: auto; border-color: #EEEEEE; border-style: solid; border-width: 1px;"
                  src="../../../../assets/no_image.png"></div>
      </a>
      <span style="padding: 20px">{{game.title}} </span>
      <span style="padding: 20px; alignment: right">Ocena: {{game.score}}</span>
  </div>
</div>
